# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: execute exclude.sh
        run: |
          chmod +x exclude.sh
          ./exclude.sh
        
      - name: Cache Build Artifacts
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/exclude
          key: ${{ github.sha }}-exclude
      
      - name: Super-Linter
        uses: github/super-linter@v4.10.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          #IGNORE_GENERATED_FILES: true
          FILTER_REGEX_EXCLUDE: .*${{ github.workspace }}/exclude/.*
          
